.container {
  max-width: 45em;
  margin: 0 auto;
  width: 90%;
}

.content__copy {
  .page-title {
    margin-bottom: 32px;
  }

  img.box-image {
    object-fit: cover;
    width: 100%;
    height: 200px;
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 37.5em) {
  .content__copy {
    .page-title {
      margin-bottom: 64px;
    }

    img.box-image {
      object-fit: cover;
      width: 100%;
      height: 500px;
      margin-bottom: 64px;
    }
  }

}