.site-header {
  display: block;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  align-items: center;
  grid-template-areas:
    "menu"
    "branding"
}

.site-branding {
  margin: 16px;
  justify-self: center;
}

@media screen and (min-width: 37.5em) {
  .site-header {
    grid-template-columns: 300px 1fr;
    grid-template-areas:
      " branding menu"
  }

  .site-branding {
    margin: 32px;
    justify-self: start;
  }
}