.main-navigation {
	clear: both;
	display: block;
	float: left;
	text-transform: uppercase;

	ul {
		transform: scaleY(0);
		list-style: none;
		margin: 0;
		padding-left: 0;
		transition: all 0.2s ease-in-out;
		transform-origin: top;

		ul {
			display: block;
			float: left;
			background: $color__secondary;
			position: absolute;
			transform: scaleY(0);
			transition: all 0.2s ease-in-out;
			transform-origin: top;
			z-index: 99999;

			ul {
				left: -999em;
			}

			li {

				&:hover>ul,
				&.focus>ul {
					transform: scaleY(1);
					transition: all 0.2s ease-in-out;
					transform-origin: top;
				}
			}

			a {
				color: white;
			}

			:hover>a,
			.focus>a {}

			a:hover,
			a.focus {}
		}

		li:hover>ul,
		li.focus>ul {
			left: auto;
			transform: scaleY(1);
			transition: all 0.2s ease-in-out;
			transform-origin: top;
		}
	}

	li {
		position: relative;
		margin: 0.2em 0;

		&:hover>a,
		&.focus>a {}
	}

	a {
		display: block;
		color: $color__text-grey;
		text-decoration: none;
	}

	.current_page_item>a,
	.current-menu-item>a,
	.current_page_ancestor>a,
	.current-menu-ancestor>a {}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	ul {
		transform: scaleY(0);
	}

	display: block;
	transform: scaleY(1);
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		top: 0;
		transform: scaleY(0);
	}

	.main-navigation {
		ul {
			ul {
				li {
					margin: 0;
					padding: 0.5em;
				}
			}

			display: flex;
			transform: scaleY(1);
		}

		li {
			margin: 0 2em 0 0;
		}

		justify-self: end;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}