.main-navigation {
	clear: both;
	display: block;
	text-transform: uppercase;
	justify-self: end;
	grid-area: menu;
	min-height: 50px;
	width: 100%;
	border: none;
	color: white;
	text-transform: uppercase;
	font-size: 1em;

	ul {
		visibility: hidden;
		opacity: 0;
		width: 100%;
		height: 100vh;
		display: grid;
		text-align: center;
		align-items: center;
		font-size: 2em;
		grid-template-rows: auto;
		list-style: none;
		margin: 0;
		padding-left: 0;
		transition: all 0.2s ease-in-out;
		transform-origin: center;

		ul {
			display: block;
			float: left;
			background: $color__secondary;
			position: absolute;
			visibility: hidden;
			opacity: 0;
			transition: all 0.2s ease-in-out;
			transform-origin: center;
			z-index: 99999;

			// ul {
			// 	left: -999em;
			// }

			li {

				&:hover>ul,
				&.focus>ul {
					visibility: visible;
					opacity: 1;
					transition: all 0.2s ease-in-out;
					transform-origin: center;
				}
			}

			a {
				color: white;
			}

			:hover>a,
			.focus>a {}

			a:hover,
			a.focus {}
		}

		li:hover>ul,
		li.focus>ul {
			left: auto;
			visibility: visible;
			opacity: 1;
			transition: all 0.2s ease-in-out;
			transform-origin: center;
		}
	}

	li {
		position: relative;
		margin: 0.2em 0;

		&:hover>a,
		&.focus>a {}
	}

	a {
		display: block;
		color: white;
		text-decoration: none;
	}

	.current_page_item>a,
	.current-menu-item>a,
	.current_page_ancestor>a,
	.current-menu-ancestor>a {}
}

/* Small menu. */
.menu-toggle {
	position: fixed;
	font-size: 1em;
	text-transform: uppercase;
	color: white;
	text-align: center;
	background-color: $color__primary;
	width: 100%;
	border-radius: 0;
	cursor: pointer;
	padding: 1em 1em .8em;
}

.main-navigation.toggled ul {
	ul {
		visibility: visible;
		opacity: 1;
	}

	li {
		margin-bottom: 2em;
	}

	a {
		color: white;
	}

	position:fixed;
	top:36px;
	background:$color__primary;
	visibility: visible;
	opacity:1;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		// top: 0;
		display: none;
	}

	.main-navigation {
		ul {
			ul {
				li {
					margin: 0;
					padding: 0.5em;
				}
			}

			display: flex;
			visibility: visible;
			opacity:1;
		}

		a {
			color: $color__text-grey;
		}

		li {
			margin: 0 2em 0 0;
		}

		width:auto;
		justify-self: end;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

.menu-menu-container {
	height: 0;
}